.header {
    background-color: var(--corPrincipal);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px 0 40px;
    margin-bottom: 80px;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid var(--corSecundaria);
}

.name {
    font-size: 18px;
    color: var(--corSecundaria);
}

.btn {
    max-width: 100px;
    width: 100%;
    color: #fff;
    background-color: green;
    padding: 4px;
    border-radius: 8px;
    border: none;
    position: fixed;
    left: 5%;
    top: 5%;
    cursor: pointer;
}